.services {
  background: var(--mainGrey);
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}
.service {
  margin: 2rem 0;
  text-align: center;
}
.service span {
  background: var(--primaryColor);
  padding: 0.5rem;
  display: inline-block;
  font-size: 5rem;
  margin-bottom: 1.5rem;
  color:red;
}
.service h4 {
  text-transform: uppercase;
}

.services h2 {
  text-align: center;
}


.service {
  background: var(--clr-white);
  /* padding: 3rem 1.5rem; */
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service:hover {
  background: black;
  color: var(black);
}
.service:hover p {
  color: white;
}

.service:hover h4 {
  color: white;
}

.service:hover .underline {
  background: var(--clr-primary-9);
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}