

$font:  'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Playfair Display, 'Open Sans', 'Helvetica Neue', sans-serif;



$white: #fff;
$black: #000;

html, body {
    font-family: $font;
    font-size: 16px;
    width: auto;
    // width: 100%;
    margin: 0;
    padding: 0; 
    overflow-x: hidden; 
    text-transform: capitalize;
}

body {
  width: 100%;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.tl-edges {
    max-width: 100%;
    overflow-x: inherit;
}

.container {
    width: 100%;
    min-width: 85rem;
    margin: 3em auto;
    
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px; 
    }

    @media(max-width: 1280px) {
        width: 976px;
        min-width: 0px; 
    }

    @media(max-width: 400px) {
        min-width: 0px; 
    }    
}




//header 
header {
    height: 80px;
    width: 100%;
    // position: fixed;
    top: 0px;
    z-index: 10;
    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        margin: 0 5em;
        @media(min-width: 800px) {
          display: flex;
          width: 80%;
      }  
      @media(max-width: 600px) {
        display: contents;
        width: 60%;
    }
    
        .logo {
            a {
                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $black;

            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.7px;
                    text-transform: uppercase;
                    color:red;
                    font-size: 0.75rem;
                    color: $black;
                    &:last-child {
                        margin-right: 1em;
                    }
                    @media(max-width: 600px) {
                      // margin: 5px 15px;
                      font-size: 4px;
                      margin: 0 17px;
                  }
                }  


            }
            .nav:hover a{
              background-color: #d9ffb3
              ;
            }
        }
    }
}


//banner 
.banner {
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    margin: 2em 0;



    .row {
        position: relative;
        width: 100%;
        .main-text {
            font-size: 3.8rem;
            text-transform: uppercase;
            letter-spacing: 42;
            font-weight: 700;
            color: #fff;
            position: absolute;
            width: 100%;
            left: 0;
            top: 115%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;
            mix-blend-mode: difference;
            z-index: 9;
            @media (max-width) {
                font-size: 4.5rem;
                letter-spacing: 35px;
            }
        }
       
        .imageOne {
            width: 300px;
            margin: 0 auto;
            @media (max-width: 1440px) {
                width: 300px;
                margin: 0 auto;
            }
            @media(max-width: 600px) {
              width: 200px;
              margin: 0 auto;
          }
        }
        .work {
          margin-top: 0em;
      }
    
        .imageTwo {
          width: 30em;
          margin: 0 auto;
          @media (max-width: 1440px) {
              width: 300px;
          }
      }
    }
    .typical {
    text-align: center;
    font-size: x-large;
    color: red;
    }
      .scroll {
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    color: $black;
    text-transform: uppercase;
    position: absolute;
    bottom: 48px;
  }
  .fixed-misc {
      position: fixed;
      top: 50%;
      right: -48px; 
      transform: rotate(-90deg);
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: .875rem;
      z-index: 8;
      @media(max-width: 600px) {
        display: none;
    }
     
  }
}

.mainPic {
    margin: 7em 45px;
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    @media(max-width: 600px) {
      margin: 5em -2px;
      
  }
}

// .banner2 {
//   height: 10em;
// }
//aboutWeb 
.aboutDev {
    // padding: 0 0px;
    position: relative;
    .inner-About {
    display: flex;
    justify-content: center;
    padding: 5em;
    @media(max-width: 600px) {
      display: flex;
      flex-direction: column;
      margin-left: 0em;
      padding: 0;
  }

  
    .content {
        width: 30%;
        text-align: center;
     }
     h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: .5px;
        margin: 0;
     }
     p {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 300;
        margin: 40px 0 72px;
      }
    .images {
        width: 30%;
        height: 111%;
        object-fit: none;
        position: relative;
        @media(max-width: 600px) {
          display: block;
      }
        .devPic {
            position: relative;
        }
      }
    }
}
// aboutDj




.video-section {
    display: flex;
    text-align: center
}

//aboutWork

//pictures 
.pictures {
  margin-top: 0em;
}

//footer
footer {
    .featured-companies {
      background: $black;
      height: 200px;
      display: flex;
      align-items: center;
      .container {
        ul {
          display: flex;
          justify-content: space-around;
          padding: 0;
          align-items: center;
          flex-direction: row;
          li {
            text-align: center;
            img {
              width: 50%;
            }
          }
        }
      }
    }
    .footer {
      background: white;
      height: 80px;
      .inner {
        padding: 0 120px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .socials {
          a {
            margin: 0 8px;
          }
        }
      }
    }
  }

footer {
    background-color:black;
    height: 80px;
    .inner {
      padding: 0 120px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .socials {
        a {
          margin: 0 8px;
        }
      }
    }
  }

  .banner2 {
    margin-top: 1em;
    height: 19em;

  }
  

// Work Page
.latestAbout {
  display: flex;
  flex-direction: column;
 padding: 0em!important;
}

.aboutTrain {
  padding: 0 40px;
}


//services 
.servicesText {
  color:white;
}




